body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #1199c3;
  line-height: 48px;
  display: inline;
}


#projects {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  margin: 0px;
}

.projects-title {
  width: 100%;
}

.project-entry {
  width: 40%;

}


h2 {
  font-size: 1.6em;
  color: #fff;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #fff;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #c9c9c9;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;

}
.aqua-text {
  color: #9ad3de;
  font-size: 1.4em;
  text-decoration: none;
  margin-top: 10px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #333;
  line-height: 28px;
}

#skills-h3 {
  color: #1199c3;
  display: none;
}

.white {
  background-color: #fff;
}

.blue-text {
  color: #1199c3;
}
.white-text {
  color: #fff;
  font-size: 1.2em;
}

.nav {
  display:inline;
}

.major {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}
.online-class {
  font-size: 18px;
  color: #333;
  line-height: 21px;
}
.gray {
  background-color: #e3e3e3;
  padding-bottom: 10px;
}

.dark-gray {
  background-color: #c9c9c9;
}
.aqua {
  background-color: #9ad3de;
}

.blue {
  background-color: #89bdd3;
}

/* TODO: Replace with image later */
#header {
  background-color: #c9c9c9;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}


.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  width: 300px;
  height: 300px;
  max-width: 100%;
  margin-top: 25px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
